* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F4F4;

}
h1, h2, h3, h4, h5, h6,
header ul li a,
.dropdown-content a,
.quadrado h3,
.quadrado p,
#entre-em-contato h2,
#entre-em-contato p,
.footer-info,
.footer-nav a,
.footer-credits p {
    font-family: 'Montserrat', sans-serif;
}


header{
    background-color: white;
    padding: 20px 0;
    text-align: center;
}
  
header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
}
  
header ul li {
    margin: 0 15px;
    position: relative;
}
  
header ul li a {
    text-decoration: none;
    color: #9B7D4B;
    font-weight: bold;
}
  
header ul li a:hover{
    text-decoration: none;
    color: #9B7D4B;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    text-align: left;
    padding: 10px 0;
}

.dropdown-content a {
    color: #9B7D4B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover > a {
    color: #6B4F33;
}
  
.logo-container {
    background-color:#383F3A;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.logo-container h2{
    color:#9B7D4B;
    font-size: 22px;
}
  
.logo img {
    height: 200px;
}
.imagem-container {
    position: relative; 
    width: 100%;
    height: 450px; /* Aumentado um pouco para acomodar o título */
    overflow: hidden; 
    display: flex;
    flex-direction: column; /* Organiza o título e o conteúdo verticalmente */
    justify-content: center;
    align-items: center;
}

/* Imagem de fundo */
.imagem-principal {
    width: 100%;
    height: auto;
    position: absolute; /* Garante que a imagem de fundo fique atrás do conteúdo */
    top: 0;
    left: 0;
    z-index: 1; /* Baixo z-index para ficar abaixo do conteúdo */
}

/* Título sobre a imagem, acima do box */
.titulo-principal {
    z-index: 2; /* Assegura que o título fique acima da imagem */
    color: white;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    position: relative; /* Garante que o título seja posicionado corretamente */
}
/* Container para o box de texto e imagem */
.box-container {
    display: flex;
    align-items: center;
    z-index: 2; /* Certifique-se de que o z-index seja maior que o da imagem de fundo */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo preto com transparência */
    padding: 20px;
    border-radius: 8px; /* Cantos arredondados */
    max-width: 800px;
    text-align: left;
    position: relative; /* Necessário para o posicionamento correto */
}

/* Estilos para o conteúdo do box */
.box-texto {
    color: white;
    display: flex;
    align-items: center;
}

/* Estilos para a imagem dentro do box */
.imagem-interna {
    max-width: 150px; /* Tamanho máximo da imagem */
    height: auto;
    margin-left: 20px; /* Espaçamento entre o texto e a imagem */
}

.box-texto p {
    font-size: 16px;
    line-height: 1.5;
}


/* Seção Por que nos escolher */
#por-que-nos-escolher {
    padding: 50px 0;
    background-color: #f4f4f4; 
    text-align: center; 
}

/* Container da seção */
/* Container verde */
.section-container {
    background-color: #383F3A; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: relative; 
    margin-bottom: -20px;
}

/* Título da seção */
.section-container h2 {
    text-align: center; 
    color: white; 
    margin-bottom: 20px; 
}

/* Container dos quadrados */
.quadrados-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
}

/* Quadrados */
.quadrado {
    background-color: black;
    color: white;
    padding: 20px;
    width: calc(25% - 20px); 
    box-sizing: border-box;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.quadrado:hover {
    transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.quadrado h3 {
    font-size: 18px;
    margin-bottom: 10px; 
    color:#9B7D4B;
}

.quadrado p {
    font-size: 14px;
    line-height: 1.5;
}
/* Adiciona margem inferior ao carrossel */
.carousel {
    margin: 0;
    width: 100%;
    height: 300px; 
    padding: 0;
    margin-bottom: 50px; /* Aumenta o espaçamento abaixo do carrossel */
}

#entre-em-contato {
    background-color: #9B7D4B; 
    padding: 40px 0; 
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Aumenta o espaçamento superior para garantir que não fique colado */
    margin-bottom: 10px; /* Mantém o espaçamento inferior */
}


#entre-em-contato .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1200px; 
    width: 100%;
    position: relative; 
}

#entre-em-contato .logo-pequena {
    width: 100px; 
    height: auto;
    margin-right: 10px; 
    animation: pulse 2s infinite;
}

#entre-em-contato .texto-container {
    color: white; 
    max-width: 600px; 
}

#entre-em-contato h2 {
    margin: 0;
    font-size: 24px; 
}

#entre-em-contato p {
    margin: 10px 0 0;
    font-size: 16px; 
}

.pulse-text {
    animation: pulse 2s infinite; 
}
main {
    flex: 1; /* Faz com que o main ocupe o espaço disponível restante */
}

footer {
    background-color: #383F3A; /* Cor de fundo cinza */
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box; /* Inclui o padding na altura total do footer */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; /* Inclui o padding na largura total do container */
}

.footer-logo {
    margin-right: 0; /* Remove qualquer margem à direita */
    transform: translateX(-100px); 
    display: flex;
    align-items: flex-end; /* Alinha verticalmente a logo */
}


.footer-logo img {
    max-height: 100px; /* Define a altura máxima da imagem */
    width: auto; /* Mantém a proporção da imagem */
}

.footer-info{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: white;
    transform:translate(-160px);
    
}

.footer-info p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.5;
    
}
.footer-info a{
    color: white;
    text-decoration: none;
}
.footer-info a:hover{
    color: white;
    text-decoration: none;
}
.footer-nav {
    display: flex;
    gap: 20px;
    align-items: center;
    transform: translate(140px);
    
}

.footer-nav a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 1.5;
}
.footer-nav a:hover{
    color: white;
    text-decoration: none;
}

.footer-social {
    display: flex;
    gap: 10px;
    align-items: center;
    transform: translate(100px);
}

.footer-social a img {
    width: 30px;
    height: 30px;
}
.footer-credits {
    text-align: center;
    margin-top: 20px;
    color: white;
    background-color: #383F3A; /* Mantém o mesmo fundo do footer */
    padding: 10px 0;
}

.footer-credits p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.footer-credits strong {
    font-weight: bold;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}











  
  


